
.styie{margin-left:65px;}


/****27 ***/



/*a 03*/


/*a 04*/

a.col1{color:#709ab3 !important; font-weight:bold; }
a.col2{color:#878787 !important; font-weight:bold;}




.catle3{float:right; width:108px;}


.txtbg{width:246px; height:18px; padding:7px 5px; font-size:14px; color:#a7a7a7; background-color:#FFFFFF; border:1px solid #94acb8;}


.searchbg{width:168px; height:15px; padding:7px 5px; font-size:14px; color:#a7a7a7; background-color:#FFFFFF; border:1px solid #94acb8;}

.iesp5{ color:#FFFFFF;}
.ie7sp8{ z-index:-10 !important;}