.ui-carousel-top-vertical{

	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}

.ui-carousel-top-vertical > .wrapperT {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel-top-vertical > .wrapperT > * {
	/*border: 0;*/
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
	
}
/************/
			#container-top-vertical{ 
				width:290px; margin:0px;  
				position: relative;  
			}
			
			#carousel-top-vertical {
				margin: 0 auto !important;
			}

			#carousel-top-vertical img {
				border: 0;
			}


			#ui-carousel-next-top-vertical{
				width: 25px; 
				height: 25px; float:left;
				background: url(../../images/arrow-bottom.png) #fff center center no-repeat;
				display: block;
				
				margin-left:114px;
			}
			#ui-carousel-prev-top-vertical{
				width: 25px; float:left;
				height: 25px;
				background: url(../../images/arrow-top.png) #fff center center no-repeat;
				display: block;
				
				
			}


			#ui-carousel-next-top-vertical > span, #ui-carousel-prev-top-vertical > span {
				display: none;
			}	

.ui-carousel-top-vertical > .wrapperT > .slideVerT {
	/*margin-bottom:5px !important;*/
	position: relative;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
   background-color:#fff;
    border: 1px solid #709ab3;
	width:260px; 

}


.t1leftT{ float:left; width:54px; margin-top:10px;  margin-left:5px;}
.t1rightT{ float:left; width:200px; margin-top:17px;}
.t1rightT h4{ font-size:14px; }
